/* ------------ BACKGROUNDS ------------ */

.bg-orange{
  background-color:  #FF8B64;
}

.bg-watergreen{
    background-color: #56C2E6;
}

.bg-red{
    background-color: #FF5E7D;
}

.bg-green{
    background-color: #4BCF83;
}

.bg-violet{
    background-color: #7235D1;
}

.bg-yellow{
    background-color: #F1C75B;
}